<div id="<?$_name?>" style="color:black;">
<h2></h2>
<?$Content?>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Personal Information</h3>
  </div>
  <div class="panel-body">
    <div class="row">
<table width=100% border='2px'>
<div class="col-md-6">
    <tr>
        <td>
          <h3>Health Care Organization</h3>
       <h3> <p> Address </p> </h3>        
        </td>
        <td>
           <p>Discarge Date :<?date?><?/date?></p> 
        </td>
    </tr>
    
    <tr>
      <td colspan="2">
        <p>Code :<b><?code?><?/code?></b></p>
      </td>
    </tr>

    <tr>
      <td>
          <p>Doctor Charges :<b><?d_charges?><?/d_charges?></b><p> 
      </td>
    </tr> 
    <tr >  
      <td colspan="2"> 
          <p>Medical Treatment Charges :<b><?medi_treatment_charges?><?/medi_treatment_charges?></b><p> 
      </td>
    </tr> 
    <tr >    
      <td colspan="2"> 
          <p>Service Treatment Charges :<b><?service_treatment_charges?><?/service_treatment_charges?></b><p> 
      </td>
    </tr> 
    <tr>    
      <td colspan="2"> 
      <p>Room Charges :<b><?room?><?/room?></b><p>
      </td>
    </tr> 
    <tr>    
      <td colspan="2"> 
          <p>Hospital Charges :<b><?hospital?><?/hospital?></b><p> 
      </td>
    </tr>    
    <tr>
        <td colspan="2">
       <p>Net Total :<b><?net_total?><?/net_total?></b><p> 
        </td>
    </tr>
</table>
</div>
</div>
</div>
</div>
</div>
