<div id="<?$_name?>" style="color:black;">
<h1>"Patients Details"   </h1>
<?$Content?>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Personal Information</h3>
  </div>
  <div class="panel-body">
  	<div class="row">
		<!-- <div class="col-md-4">
			<img src='<?$img?>' style="height:200px;" class="thumbnail">
		</div> -->
		<div class="col-md-6">
			<h3>Name:<?name?>name<?/name?></h3>
			<br>
			<h4>Code:<?code?>Code<?/code?></h4><br>
			<h4>Age:<?p_age?>Age<?/p_age?></h4><br>
			<h4>Gender:<?gender?>Gender<?/gender?></h4><br>
			<h4>Phone No:<?p_phone?>Phone No<?/p_phone?></h4><br>
			<h4>DOB:<?p_dob?>DOB<?/p_dob?></h4><br>
			<h4>Address:<?p_address?>Address<?/p_address?></h4><br>
			<h4>Email:<?email?>Email<?/email?></h4><br>
			<h4>Password:<?password?>Password<?/password?></h4><br>


			<h4>Relatives name:<?relatives_name?>Relatives_name<?/relatives_name?></h4><br>


			<h4>Relatives address:<?relatives_address?>Relatives_address<?/relatives_address?></h4><br>


			<h4>Relatives phone no:<?relatives_phone_no?>Relatives_phone_no<?/relatives_phone_no?></h4><br>


			<h4>Gaurdians name:<?gaurdians_name?>Gaurdians_name<?/gaurdians_name?></h4><br>


			<h4>Gaurdians address:<?gaurdians_address?>Gaurdians_address<?/gaurdians_address?></h4><br>


			<h4>Gaurdians phone no:<?gaurdians_phone_no?>Gaurdians_phone_no<?/gaurdians_phone_no?></h4><br>


			<h4>Medical diagnosis<?p_md?>Medical_diagnosis<?/p_md?></h4><br>

			<h4>Reffering Physician Phone<?p_pp?>Reffering Physician Phone<?/p_pp?></h4><br>

			
			
			
			 
		</div>
	

	</div>
</div>
